/* FONT */

body {
    font-family: 'Edu TAS Beginner', sans-serif;
}

/* HEADER */
header {
    background-image: url(../img/wall.png);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

header h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

/* MAIN */ 
main {
    background-image: url(../img/cork.png);
    height: 100%;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    height: 100%;
    transition: transform 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.card:hover {
    transform: rotate(10deg) scale(1.1);
    cursor: pointer;
}

.card:hover img:first-of-type {
    opacity: 0;
}

#overlay-container {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hidden {
    display: none;
}

#overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.7);
}

#btn-close {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%); 
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 26px;
    border: none;
    cursor: pointer;
    z-index: 2;
    transition: background-color 0.3s ease;
}

#img-ov {
    top: 700px;
    width: 700px;
    z-index: 1;
    
}